.mainheader {
    font-size: 50px;
    margin-left: 200px;
    margin-top: 100px;
    /* font-weight: bold; */
    font-family: 'Nanum Pen Script', cursive;
}
.subheader {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

a {
    font-size: 12px;
    margin-left: 200px;
}
.highlightcontent {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.highlightsour {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    color: #E46B39
}
.highlightspicy {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    color: #B14D76
}
.chord {
    width: 1000px;
    height: 1000px;
    margin-left: 100px;
    font-family: 'Nanum Pen Script', cursive;
    font-size:24px;
}

.chordtext {
    width: 520px;
    height: 1000px;
    margin-left: 1100px;
    margin-top: -1100px;
    padding-top: 200px;
    font-size:12px;
    font-family: 'Montserrat', sans-serif;
}
.introtitle {
    font-family: 'Nanum Pen Script', cursive;
    font-size:30px;
}
.introdetail {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}
.groupbar {
    width: 1000px;
    height: 1000px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: "Nanum Pen Script";
}
.groupbartext {
    width: 520px;
    height: 1000px;
    margin-left: 1250px;
    margin-top: -1200px;
    padding-top: 200px;
}